{% extends 'base.html' %}
{% block title %} Leather products {% endblock title %}
{% block mycss %}
<style>
body{
padding-bottom:100px;
}
h3{
margin-top:50px;
width:100%;
background:#D3D3D3;
margin:20px;
padding-left:20px;
}
img{
height:300px;
width:auto;
}

  @media only screen and (max-width: 600px) {
  /* For mobile: */

img{
height:auto;
width:80%;
margin:5px 30px;
}
h3{
margin-top:50px;
width:100%;
background:#D3D3D3;
margin:0px;
padding-left:20px;
}
}
</style>
{% endblock %}
{% block body %}
<div class="container pt-4">
<h3>1.</h3>
<div class="card-group container" >

  <div class="card text-center border-0 m-2">
    <a href="static/img/layout1.jpg">
  <img src="static/img/layout1.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
    <a href="static/img/leather11.jpg">
  <img src="static/img/leather11.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather12.jpg">
  <img src="static/img/leather12.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather13.jpg">
  <img src="static/img/leather13.jpg" class="rounded" alt="...">
    </a>
  </div>
</div>
  <h3>2.</h3>
<div class="card-group container" >

  <div class="card text-center border-0 m-2">
    <a href="static/img/layout2.jpg">
  <img src="static/img/layout2.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
    <a href="static/img/leather21.jpg">
  <img src="static/img/leather21.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather22.jpg">
  <img src="static/img/leather22.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather23.jpg">
  <img src="static/img/leather23.jpg" class="rounded" alt="...">
    </a>
  </div>
</div>
 <h3>3.</h3>
<div class="card-group container" >

  <div class="card text-center border-0 m-2">
    <a href="static/img/layout3.jpg">
  <img src="static/img/layout3.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
    <a href="static/img/leather31.jpg">
  <img src="static/img/leather31.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather32.jpg">
  <img src="static/img/leather32.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather33.jpg">
  <img src="static/img/leather33.jpg" class="rounded" alt="...">
    </a>
  </div>
</div>
  <h3>4.</h3>
<div class="card-group container" >

  <div class="card text-center border-0 m-2">
    <a href="static/img/layout4.jpg">
  <img src="static/img/layout4.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
    <a href="static/img/leather41.jpg">
  <img src="static/img/leather41.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather42.jpg">
  <img src="static/img/leather42.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather43.jpg">
  <img src="static/img/leather43.jpg" class="rounded" alt="...">
    </a>
  </div>
</div>
  <h3>5.</h3>
<div class="card-group container" >

  <div class="card text-center border-0 m-2">
    <a href="static/img/layout5.jpg">
  <img src="static/img/layout5.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
    <a href="static/img/leather51.jpg">
  <img src="static/img/leather51.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather52.jpg">
  <img src="static/img/leather52.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather53.jpg">
  <img src="static/img/leather53.jpg" class="rounded" alt="...">
    </a>
  </div>
</div>
  <h3>6.</h3>
<div class="card-group container" >

  <div class="card text-center border-0 m-2">
    <a href="static/img/layout6.jpg">
  <img src="static/img/layout6.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
    <a href="static/img/leather61.jpg">
  <img src="static/img/leather61.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather62.jpg">
  <img src="static/img/leather62.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather63.jpg">
  <img src="static/img/leather63.jpg" class="rounded" alt="...">
    </a>
  </div>
</div>
  <h3>7.</h3>
<div class="card-group container" >

  <div class="card text-center border-0 m-2">
    <a href="static/img/layout7.jpg">
  <img src="static/img/layout7.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
    <a href="static/img/leather71.jpg">
  <img src="static/img/leather71.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather72.jpg">
  <img src="static/img/leather72.jpg" class="rounded" alt="...">
    </a>
  </div>
  <div class="card text-center border-0 m-2">
  <a href="static/img/leather73.jpg">
  <img src="static/img/leather73.jpg" class="rounded" alt="...">
    </a>
  </div>
</div>
</div>
{% endblock body %}